@import url('https://fonts.googleapis.com/css?family=Quicksand');
html body{
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
    font-weight: bolder;
    background: #000;
    color:ghostwhite;
  }

  h1 {
    font-size:3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bolder;
    margin: 0.4em 0;
    color: ghostwhite
  }
  h2 {
    font-size:3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: #c0392b
  }